[user]
	name = c4605
	email = bolasblack@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	cb = checkout -b
	br = branch
	cm = commit
	st = status
[diff]
	noprefix = true
[push]
	default = upstream
[github]
	user = bolasblack

[color]
	status = auto
	branch = auto
	diff = auto
	ui = true
	pager = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
  fetch = +refs/pull/*/head:refs/remotes/origin/pr/* # GitHub PR
  fetch = +refs/pull-requests/*/from:refs/remotes/origin/pr/* # Bitbucket PR
[remote "upstream"]
	fetch = +refs/heads/*:refs/remotes/upstream/*
  fetch = +refs/pull/*/head:refs/remotes/upstream/pr/* # GitHub PR
  fetch = +refs/pull-requests/*/from:refs/remotes/upstream/pr/* # Bitbucket PR