[user]
	name = bolasblack
	email = bolasblack@gmail.com
[core]
	editor = vim
	excludesfile = /Users/c4605/dotfiles/.gitignore_global
[color]
	status = auto
	branch = auto
	diff = auto
	ui = true
	pager = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	co = checkout
	cb = checkout -b
	br = branch
	cm = commit
	st = status
[push]
	default = upstream
[github]
	user = bolasblack
