<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">
<menu id="netsoft" label="NetSoft">
  <item label="Firefox">
    <action name="Execute">
		<execute>firefox</execute>
	</action>
  </item>
  <item label="Pidgin">
    <action name="Execute">
		<execute>pidgin</execute>
	</action>
  </item>
  <item label="skype">
    <action name="Execute">
		<execute>skype</execute>
	</action>
  </item>
</menu>

<menu id="player" label="Player">
  <item label="DeaDBeeF">
    <action name="Execute">
		<execute>deadbeef</execute>
	</action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <item label="Gvim">
    <action name="Execute">
		<execute>gvim</execute>
	</action>
  </item>
  <item label="Terminal">
    <action name="Execute">
		<execute>urxvt</execute>
	</action>
  </item>
  <item label="Chromium">
    <action name="Execute">
		<execute>chromium</execute>
	</action>
  </item>
  <!-- This requires the presence of the 'menu' package to work -->
  <menu id="Debian" />
  <separator />
  <menu id="netsoft" />
  <separator />
  <menu id="player" />
  <separator />
  <item label="ObConf">
    <action name="Execute">
		<execute>obconf</execute>
	</action>
  </item>
  <item label="ReConf">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
