<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.c4605.hydra</string>
	<key>connections</key>
	<dict>
		<key>0B98584B-6C01-45DF-B5EB-9E585E58C93B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9367413-6937-42AC-ABA4-F4F8AB34FE67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A7CE5D96-1CF8-485C-BA9E-3D2CDD7427C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A86EA53-8BC1-4A59-A956-9A94E3D2F503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>c4605</string>
	<key>description</key>
	<string>Call hydra to do something</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hydra</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hydra</string>
				<key>script</key>
				<string>. actions.sh
showOptions</string>
				<key>subtext</key>
				<string>Call hydra to do something</string>
				<key>title</key>
				<string>hydra</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7CE5D96-1CF8-485C-BA9E-3D2CDD7427C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>. actions.sh
doActions {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A86EA53-8BC1-4A59-A956-9A94E3D2F503</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reloadhydra</string>
				<key>text</key>
				<string>Reload Hydra Config</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0B98584B-6C01-45DF-B5EB-9E585E58C93B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>. actions.sh
doActions reload</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9367413-6937-42AC-ABA4-F4F8AB34FE67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B98584B-6C01-45DF-B5EB-9E585E58C93B</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>4A86EA53-8BC1-4A59-A956-9A94E3D2F503</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>A7CE5D96-1CF8-485C-BA9E-3D2CDD7427C7</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C9367413-6937-42AC-ABA4-F4F8AB34FE67</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://plafer.info</string>
</dict>
</plist>
